@import url('fonts.css');

* {
    text-align: center;
    background-color: rgb(34, 34, 34);
}


/* Background image*/
#bg_img {
    background-image: url(./images/lil1.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    background-position: left, right;
    background-size: contain;
}

h1 {
    font-family: "Header";
    font-size: 60px;
    color: black;
    text-transform: uppercase;
    display: grid;
    align-items: center;
    background-color: rgba(181, 181, 181, 0.6);
    background-blend-mode: lighten;
    margin: 5px -150px;
    padding: 0px !important;
    height: 100px;
}

.about_me {
    font-family: "Regular";
    font-size: large;
    color: rgb(255, 255, 255);
    position: center;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    padding: 5px;
}